.docker.env.txt
*.pt
*.pickle
*.png
*.jpg
*.gif
*.so
*.mp4
*.tar
*.npy
*.sif
*.ckpt
project/__pycache__/
project/dataset/
project/DDF/__pycache__/
project/DDF/lightning_logs/
project/lightning_logs
project/old_files/until/DeepTaR_until0525
project/old_files/until_0324
project/old_files/until_0421
project/pixellib_pkl
project/sample_images/
project/sync_batchnorm/__pycache__/