.docker.env.txt
*.pt
*.pickle
*.png
*.jpg
*.gif
*.so
*.mp4
*.tar
*.npy
*.sif
*.ckpt
project/__pycache__/
project/BackBone/dataset
project/BackBone/lightning_logs/dataset
project/BackBone/sample_images
project/dataset
project/DDF/__pycache__/
project/DDF/lightning_logs/
project/DDF/sample_images/
project/DDF/until_*
project/lightning_logs
project/old_files/until_0703
project/paper_fig/ddf
project/paper_fig/depth_map
project/paper_fig/normal_map
project/randn
project/sample_images
project/sync_batchnorm/__pycache__/
project/txt/experiments